langchain==0.1.0
langchain-core==0.1.10
langchain-community==0.0.13
langgraph==0.0.10
langserve==0.0.30
pydantic==2.5.2
openai==1.6.1
typing-extensions==4.9.0
requests
beautifulsoup4
pymongo
selenium-wire
undetected-chromedriver
python-dotenv
selenium
packaging
setuptools
blinker==1.6.0  
